/* Universal Style */
html {
    background-color: black;
}

/* Header */


/* Nav */

/* Main */
h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

/* Section */


/* Footer */